<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>web-for-tech-basic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DataTypes</display-name>
    <servlet-name>DataTypes</servlet-name>
    <servlet-class>myClass.dataTypes.DataTypes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataTypes</servlet-name>
    <url-pattern>/DataTypes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv_Add</display-name>
    <servlet-name>Serv_Add</servlet-name>
    <servlet-class>myArithmetic.Calcul.Serv_Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv_Add</servlet-name>
    <url-pattern>/Serv_Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServAdd</display-name>
    <servlet-name>ServAdd</servlet-name>
    <servlet-class>myArith.calcul.ServAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServAdd</servlet-name>
    <url-pattern>/ServAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServDivide</display-name>
    <servlet-name>ServDivide</servlet-name>
    <servlet-class>myArith.calcul.ServDivide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServDivide</servlet-name>
    <url-pattern>/ServDivide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServMultiply</display-name>
    <servlet-name>ServMultiply</servlet-name>
    <servlet-class>myArith.calcul.ServMultiply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServMultiply</servlet-name>
    <url-pattern>/ServMultiply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServSubtract</display-name>
    <servlet-name>ServSubtract</servlet-name>
    <servlet-class>myArith.calcul.ServSubtract</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServSubtract</servlet-name>
    <url-pattern>/ServSubtract</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv_IfElse</display-name>
    <servlet-name>Serv_IfElse</servlet-name>
    <servlet-class>myServ.condition.Serv_IfElse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv_IfElse</servlet-name>
    <url-pattern>/Serv_IfElse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForLoop</display-name>
    <servlet-name>ForLoop</servlet-name>
    <servlet-class>myServ.condition.ForLoop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForLoop</servlet-name>
    <url-pattern>/ForLoop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv_IfEIse</display-name>
    <servlet-name>Serv_IfEIse</servlet-name>
    <servlet-class>myServ.condition.Serv_IfElse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv_IfEIse</servlet-name>
    <url-pattern>/Serv_IfEIse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv_ForLoop</display-name>
    <servlet-name>Serv_ForLoop</servlet-name>
    <servlet-class>myServ.condition.Serv_ForLoop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv_ForLoop</servlet-name>
    <url-pattern>/Serv_ForLoop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv_WhileLoop</display-name>
    <servlet-name>Serv_WhileLoop</servlet-name>
    <servlet-class>myServ.condition.Serv_WhileLoop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv_WhileLoop</servlet-name>
    <url-pattern>/Serv_WhileLoop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv_W_Loop</display-name>
    <servlet-name>Serv_W_Loop</servlet-name>
    <servlet-class>myServ.condition.Serv_W_Loop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv_W_Loop</servlet-name>
    <url-pattern>/Serv_W_Loop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv_Switched</display-name>
    <servlet-name>Serv_Switched</servlet-name>
    <servlet-class>myServ.condition.Serv_Switched</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv_Switched</servlet-name>
    <url-pattern>/Serv_Switched</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv_SwitchedID</display-name>
    <servlet-name>Serv_SwitchedID</servlet-name>
    <servlet-class>myServ.condition.Serv_SwitchedID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv_SwitchedID</servlet-name>
    <url-pattern>/Serv_SwitchedID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv_Basic_Methods</display-name>
    <servlet-name>Serv_Basic_Methods</servlet-name>
    <servlet-class>myMethods.basicInternal.Serv_Basic_Methods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv_Basic_Methods</servlet-name>
    <url-pattern>/Serv_Basic_Methods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv_TestInternalMethods</display-name>
    <servlet-name>Serv_TestInternalMethods</servlet-name>
    <servlet-class>myMethods.internal.Serv_TestInternalMethods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv_TestInternalMethods</servlet-name>
    <url-pattern>/Serv_TestInternalMethods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv_Methods</display-name>
    <servlet-name>Serv_Methods</servlet-name>
    <servlet-class>myMethods.parametrized.Serv_Methods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv_Methods</servlet-name>
    <url-pattern>/Serv_Methods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv_Constructor</display-name>
    <servlet-name>Serv_Constructor</servlet-name>
    <servlet-class>myMethods.usedConstructureParam.Serv_Constructor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv_Constructor</servlet-name>
    <url-pattern>/Serv_Constructor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv_Con</display-name>
    <servlet-name>Serv_Con</servlet-name>
    <servlet-class>myMethods.parametrized.Serv_Con</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv_Con</servlet-name>
    <url-pattern>/Serv_Con</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv_DateTime</display-name>
    <servlet-name>Serv_DateTime</servlet-name>
    <servlet-class>myDateTime.dateTime.Serv_DateTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv_DateTime</servlet-name>
    <url-pattern>/Serv_DateTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateTimeClass</display-name>
    <servlet-name>DateTimeClass</servlet-name>
    <servlet-class>myDateTime.DateTimeClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateTimeClass</servlet-name>
    <url-pattern>/DateTimeClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv_DaeTime</display-name>
    <servlet-name>Serv_DaeTime</servlet-name>
    <servlet-class>myDateTime.Serv_DaeTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv_DaeTime</servlet-name>
    <url-pattern>/Serv_DaeTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv_EnumClass</display-name>
    <servlet-name>Serv_EnumClass</servlet-name>
    <servlet-class>myEnum.Serv_EnumClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv_EnumClass</servlet-name>
    <url-pattern>/Serv_EnumClass</url-pattern>
  </servlet-mapping>
</web-app>